
body {
    margin-left:auto;
    margin-right:auto;
    background-image: url("http://i.stack.imgur.com/oslRB.png");
    background-repeat: repeat;
    background-position: right top;
    background-attachment: fixed;
    width:80%;
}

nav {background-color:#DC381F;
     font-size:1.2em;
     font-weight:bold;
     font-family:arial;
     position:fixed;
     width:80%;
     margin-top:-2.6em;
     clear:left;
    }
nav a:link {text-decoration: none;
            color:white;
            font-weight:bold;}

nav a:visited{color:white;
            font-weight:bold;}

table{margin-left:auto; 
    margin-right:auto;
    border-spacing: 2% 0em;
    width:80%;
    }
    
td{margin-left:auto; 
    margin-right:auto;}
    
section{background-color:white;
        margin-top:3em;
        font-family:arial;
        width:60%
        margin-left:auto; 
        margin-right:auto;
        border-radius: 25px;
        padding: 20px;
        overflow:hidden;
        }
section img{float: right;
display:inline-block;}

section .icons img{float:left; display:inline-block;}

aside{float: right;
 background-color:#F8F8FF;
 width:15%;
 margin-left:1em;
 font-family:arial;
}

.icons img{width: 2em;
            height:2em;
            margin:.3em;}

footer{float:right;}

aside a:link{ font-family:arial;
              text-decoration:none;}
aside a:visited{ font-family:arial;}


